		<!-- INICIAR O CONTEÚDO DA PÁGINA --> 
		
		
        <div class="col-md-6">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>% <span class="semi-bold">Absenteismo</span></h4>
              <div class="tools"> <a class="collapse" href="javascript:;"></a>  </div>
            </div>
            
			
			<div class="grid-body no-border">					
				
				<h4>
				Ordered Bar 
				<span class="semi-bold"> Charts</span>
				</h4>
				
				<p>Aqui serão inseridos os dados vindos do Bamco de Dados de acordo com o filtro aplicado</p>
				<br>
				<div style="height: 250px; padding: 0px; position: relative;" id="placeholder-bar-chart"><canvas class="base" width="457" height="250">
				</canvas><canvas class="overlay" width="457" height="250" style="position: absolute; left: 0px; top: 0px;"></canvas>
				<div style="font-size:smaller" class="tickLabels"><div style="color:#545454" class="xAxis x1Axis">
				<div style="position:absolute;text-align:center;left:41px;top:235px;width:65px" class="tickLabel">Dez</div>
				<div style="position:absolute;text-align:center;left:126px;top:235px;width:65px" class="tickLabel">Jan</div>
				<div style="position:absolute;text-align:center;left:206px;top:235px;width:65px" class="tickLabel">Fev</div>
				<div style="position:absolute;text-align:center;left:291px;top:235px;width:65px" class="tickLabel">Mar</div>
				<div style="position:absolute;text-align:center;left:373px;top:235px;width:65px" class="tickLabel">Abr</div>
				</div><div style="color:#545454" class="yAxis y1Axis">
				<div style="position:absolute;text-align:right;top:219px;right:439px;width:18px" class="tickLabel">0</div>
				<div style="position:absolute;text-align:right;top:174px;right:439px;width:18px" class="tickLabel">25</div>
				<div style="position:absolute;text-align:right;top:130px;right:439px;width:18px" class="tickLabel">50</div>
				<div style="position:absolute;text-align:right;top:85px;right:439px;width:18px" class="tickLabel">75</div>
				<div style="position:absolute;text-align:right;top:41px;right:439px;width:18px" class="tickLabel">100</div>
				<div style="position:absolute;text-align:right;top:-3px;right:439px;width:18px" class="tickLabel">125</div>
				</div></div><div class="legend">
				<div style="position: absolute; width: 61px; height: 88px; top: 9px; right: 9px; background-color: rgb(255, 255, 255); opacity: 0.85;"> 
				</div><table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox">
				<div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgba(243, 89, 88, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Meta</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
				<div style="width:4px;height:0;border:5px solid rgba(251, 176, 94, 0.7);overflow:hidden"></div>
				</div></td><td class="legendLabel">Real</td></tr><tr><td class="legendColorBox">
				<div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgba(10, 166, 153, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Mês 1</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
				<div style="width:4px;height:0;border:5px solid rgba(0, 144, 217, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Mês 2</td></tr></tbody></table></div></div>					
			 </div>
			
			
            </div>
        </div>
        </div>
        
		
		
        <div class="col-md-6">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>% <span class="semi-bold">Turn Over</span></h4>
              <div class="tools"> <a class="collapse" href="javascript:;"></a>  </div>
            </div>
            
			
			<div class="grid-body no-border">					
				
				<h4>
				Ordered Bar 
				<span class="semi-bold"> Charts</span>
				</h4>
				<p>Aqui serão inseridos os dados vindos do Bamco de Dados de acordo com o filtro aplicado</p>
				<br>
				<div style="height: 250px; padding: 0px; position: relative;" id="placeholder-bar-chart"><canvas class="base" width="457" height="250">
				</canvas><canvas class="overlay" width="457" height="250" style="position: absolute; left: 0px; top: 0px;"></canvas>
				<div style="font-size:smaller" class="tickLabels"><div style="color:#545454" class="xAxis x1Axis">
				<div style="position:absolute;text-align:center;left:41px;top:235px;width:65px" class="tickLabel">Dez</div>
				<div style="position:absolute;text-align:center;left:126px;top:235px;width:65px" class="tickLabel">Jan</div>
				<div style="position:absolute;text-align:center;left:206px;top:235px;width:65px" class="tickLabel">Fev</div>
				<div style="position:absolute;text-align:center;left:291px;top:235px;width:65px" class="tickLabel">Mar</div>
				<div style="position:absolute;text-align:center;left:373px;top:235px;width:65px" class="tickLabel">Abr</div>
				</div><div style="color:#545454" class="yAxis y1Axis">
				<div style="position:absolute;text-align:right;top:219px;right:439px;width:18px" class="tickLabel">0</div>
				<div style="position:absolute;text-align:right;top:174px;right:439px;width:18px" class="tickLabel">25</div>
				<div style="position:absolute;text-align:right;top:130px;right:439px;width:18px" class="tickLabel">50</div>
				<div style="position:absolute;text-align:right;top:85px;right:439px;width:18px" class="tickLabel">75</div>
				<div style="position:absolute;text-align:right;top:41px;right:439px;width:18px" class="tickLabel">100</div>
				<div style="position:absolute;text-align:right;top:-3px;right:439px;width:18px" class="tickLabel">125</div>
				</div></div><div class="legend">
				<div style="position: absolute; width: 61px; height: 88px; top: 9px; right: 9px; background-color: rgb(255, 255, 255); opacity: 0.85;"> 
				</div><table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox">
				<div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgba(243, 89, 88, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Meta</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
				<div style="width:4px;height:0;border:5px solid rgba(251, 176, 94, 0.7);overflow:hidden"></div>
				</div></td><td class="legendLabel">Real</td></tr><tr><td class="legendColorBox">
				<div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgba(10, 166, 153, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Mês 1</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
				<div style="width:4px;height:0;border:5px solid rgba(0, 144, 217, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Mês 2</td></tr></tbody></table></div></div>
				
				</div>
			
			
            </div>
        </div>
		
		
		<div class="col-md-6">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>% <span class="semi-bold">ASA</span></h4>
              <div class="tools"> <a class="collapse" href="javascript:;"></a>  </div>
            </div>
            
			
			<div class="grid-body no-border">					
				
				<h4>
				Ordered Bar 
				<span class="semi-bold"> Charts</span>
				</h4>
				
				<p>Aqui serão inseridos os dados vindos do Bamco de Dados de acordo com o filtro aplicado</p>
				<br>
				<div style="height: 250px; padding: 0px; position: relative;" id="placeholder-bar-chart"><canvas class="base" width="457" height="250">
				</canvas><canvas class="overlay" width="457" height="250" style="position: absolute; left: 0px; top: 0px;"></canvas>
				<div style="font-size:smaller" class="tickLabels"><div style="color:#545454" class="xAxis x1Axis">
				<div style="position:absolute;text-align:center;left:41px;top:235px;width:65px" class="tickLabel">Dez</div>
				<div style="position:absolute;text-align:center;left:126px;top:235px;width:65px" class="tickLabel">Jan</div>
				<div style="position:absolute;text-align:center;left:206px;top:235px;width:65px" class="tickLabel">Fev</div>
				<div style="position:absolute;text-align:center;left:291px;top:235px;width:65px" class="tickLabel">Mar</div>
				<div style="position:absolute;text-align:center;left:373px;top:235px;width:65px" class="tickLabel">Abr</div>
				</div><div style="color:#545454" class="yAxis y1Axis">
				<div style="position:absolute;text-align:right;top:219px;right:439px;width:18px" class="tickLabel">0</div>
				<div style="position:absolute;text-align:right;top:174px;right:439px;width:18px" class="tickLabel">25</div>
				<div style="position:absolute;text-align:right;top:130px;right:439px;width:18px" class="tickLabel">50</div>
				<div style="position:absolute;text-align:right;top:85px;right:439px;width:18px" class="tickLabel">75</div>
				<div style="position:absolute;text-align:right;top:41px;right:439px;width:18px" class="tickLabel">100</div>
				<div style="position:absolute;text-align:right;top:-3px;right:439px;width:18px" class="tickLabel">125</div>
				</div></div><div class="legend">
				<div style="position: absolute; width: 61px; height: 88px; top: 9px; right: 9px; background-color: rgb(255, 255, 255); opacity: 0.85;"> 
				</div><table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox">
				<div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgba(243, 89, 88, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Meta</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
				<div style="width:4px;height:0;border:5px solid rgba(251, 176, 94, 0.7);overflow:hidden"></div>
				</div></td><td class="legendLabel">Real</td></tr><tr><td class="legendColorBox">
				<div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgba(10, 166, 153, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Mês 1</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
				<div style="width:4px;height:0;border:5px solid rgba(0, 144, 217, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Mês 2</td></tr></tbody></table></div></div>
				
				</div>
			
			
            </div>
        </div>
        
		
		
        <div class="col-md-6">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>% <span class="semi-bold">ACA</span></h4>
              <div class="tools"> <a class="collapse" href="javascript:;"></a>  </div>
            </div>
            
			
			<div class="grid-body no-border">					
				
				<h4>
				Ordered Bar 
				<span class="semi-bold"> Charts</span>
				</h4>
				
				<p>Aqui serão inseridos os dados vindos do Bamco de Dados de acordo com o filtro aplicado</p>
				<br>
				<div style="height: 250px; padding: 0px; position: relative;" id="placeholder-bar-chart"><canvas class="base" width="457" height="250">
				</canvas><canvas class="overlay" width="457" height="250" style="position: absolute; left: 0px; top: 0px;"></canvas>
				<div style="font-size:smaller" class="tickLabels"><div style="color:#545454" class="xAxis x1Axis">
				<div style="position:absolute;text-align:center;left:41px;top:235px;width:65px" class="tickLabel">Dez</div>
				<div style="position:absolute;text-align:center;left:126px;top:235px;width:65px" class="tickLabel">Jan</div>
				<div style="position:absolute;text-align:center;left:206px;top:235px;width:65px" class="tickLabel">Fev</div>
				<div style="position:absolute;text-align:center;left:291px;top:235px;width:65px" class="tickLabel">Mar</div>
				<div style="position:absolute;text-align:center;left:373px;top:235px;width:65px" class="tickLabel">Abr</div>
				</div><div style="color:#545454" class="yAxis y1Axis">
				<div style="position:absolute;text-align:right;top:219px;right:439px;width:18px" class="tickLabel">0</div>
				<div style="position:absolute;text-align:right;top:174px;right:439px;width:18px" class="tickLabel">25</div>
				<div style="position:absolute;text-align:right;top:130px;right:439px;width:18px" class="tickLabel">50</div>
				<div style="position:absolute;text-align:right;top:85px;right:439px;width:18px" class="tickLabel">75</div>
				<div style="position:absolute;text-align:right;top:41px;right:439px;width:18px" class="tickLabel">100</div>
				<div style="position:absolute;text-align:right;top:-3px;right:439px;width:18px" class="tickLabel">125</div>
				</div></div><div class="legend">
				<div style="position: absolute; width: 61px; height: 88px; top: 9px; right: 9px; background-color: rgb(255, 255, 255); opacity: 0.85;"> 
				</div><table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox">
				<div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgba(243, 89, 88, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Meta</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
				<div style="width:4px;height:0;border:5px solid rgba(251, 176, 94, 0.7);overflow:hidden"></div>
				</div></td><td class="legendLabel">Real</td></tr><tr><td class="legendColorBox">
				<div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgba(10, 166, 153, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Mês 1</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px">
				<div style="width:4px;height:0;border:5px solid rgba(0, 144, 217, 0.7);overflow:hidden">
				</div></div></td><td class="legendLabel">Mês 2</td></tr></tbody></table></div></div>
				
				</div>
			
			
            </div>
          </div>
        </div>
		
		<!-- FINALIZAR O CONTEÚDO DA PÁGINA --> 